.contact{
    min-height:100vh;
    background:#111;
    color:white;
    padding:120px 10%;
}

.contact-container{
    max-width:1200px;
    margin:auto;
}

.contact h1{
    text-align:center;
    color:gold;
    font-size:42px;
}

.contact> .contact-container > p{
    text-align:center;
    color:#ccc;
    margin:15px 0 50px;
}

.contact-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
}

.contact-info{
    background:#1b1b1b;
    padding:30px;
    border-radius:10px;
}

.contact-info h2{
    color:gold;
    margin-bottom:20px;
}

.contact-info p{
    margin:18px 0;
    color:#ddd;
}

.contact-form{
    background:#1b1b1b;
    padding:30px;
    border-radius:10px;
    display:flex;
    flex-direction:column;
}

.contact-form input,
.contact-form textarea{
    margin-bottom:15px;
    padding:12px;
    border:none;
    border-radius:5px;
    outline:none;
    font-size:16px;
}

.contact-form button{
    padding:14px;
    background:gold;
    color:black;
    border:none;
    border-radius:5px;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
}

.contact-form button:hover{
    background:white;
}

@media(max-width:768px){
    .contact-content{
        grid-template-columns:1fr;
    }
  }